.customer-list-scroll {
  scroll-behavior: smooth;
  overflow-y: auto;
  max-height: 80vh;

  @media (max-width: 990px) {
    max-height: 30vh;
  }
}

.col-left {
  border-right: 1px solid var(--color-separator);
  
  @media (max-width: 990px) {
    border-right: none;
    border-bottom: 1px solid var(--color-separator);
    padding-bottom: 10px;
  }
}