.mini-card {
  cursor: pointer;
  user-select: none;
  border-radius: 12px;
  border: 1px solid var(--bs-border-color);
  transition: all 0.2s ease;

  &:hover{
    background-color: #f8f9fa;
  }
  
  &.selected {
    border-color: #0d6efd;
    background-color: var(--bg-mini-card);
    box-shadow: 0 4px 6px rgba(13, 110, 253, 0.1);
  }
}

.avatar-circle {
  width: 40px;
  height: 40px;
  background: #3e97ff;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.8rem;
}

.custom-radio {
  width: 20px;
  height: 20px;
  border: 2px solid #dee2e6;
  border-radius: 50%;
  position: relative;
  
  &.checked {
    border-color: #0d6efd;
    &::after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: #0d6efd;
      box-shadow: inset 0 0 0 3px white;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
