/* You can add global styles to this file, and also import other style files */

@use 'ngx-toastr/toastr';

// Theme variables definition
:root[data-theme='light'] {
  --bg-btn-main: #4f46e5;
  --bg-link-active: #4f46e5;
  --bg-card: #ffffff;
  --bg-main: #f9fafb;
  --bg-sidebar: #0f162a;
  --bg-mini-card: #f6f6f6;
  
  --color-separator: #e4e4e4;
  --color-active: #fff;
  --header-bg: #ffffff;
  --text-sidebar: #94a3b8;
  
  --shadow-end: #a2a2a2;
  
  --text-main: #111827;
  --text-link-active: #fff;
}

:root[data-theme='dark'] {
  --bg-link-active: #151c3b;
  --bg-card: #1c1c24;
  --bg-main: #020617;
  --bg-sidebar: #0f162a;
  --bg-mini-card: #151C3B;

  --color-separator: #272b32;
  --header-bg: #1c1c24;

  --text-sidebar: #94a3b8;
  --text-main: #f3f4f6;
  --text-link-active: #5048e5;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

p {
  margin: 0;
}

select {
  font-style: italic !important;
}

input {
  &::placeholder {
    font-style: italic !important;
    padding-left: 5px;
  }
}

ul {
  margin-bottom: 0 !important;
}

// [data-theme='dark'] .btn-theme-toggle {
//   ...
//   &:hover {
//    ...
//   }
// }
