<div
  class="account-card-container d-flex align-items-center justify-content-between p-3 border rounded shadow-sm"
  [class.status-active]="account().status === accountStatus.ACTIVE"
  [class.status-inactive]="account().status === accountStatus.INACTIVE"
>
  <div>
    <small
      class="text-uppercase text-muted fw-bold d-block mb-1"
      style="font-size: 0.7rem; letter-spacing: 0.5px"
    >
      Cuenta
    </small>
    <div class="d-flex align-items-center gap-2">
      <span class="fs-4 fw-bold font-monospace">{{ account().account_number }}</span>
      <button class="btn btn-sm border-0" (click)="copyToClipboard()" title="Copy">
        <ng-icon name="bootstrapCopy" class="me-2"></ng-icon>
      </button>
    </div>
  </div>

  <div class="d-flex align-items-center gap-4">
    <span
      class="badge rounded-pill px-3 py-2"
      [class.text-bg-success]="account().status === accountStatus.ACTIVE"
      [class.text-bg-danger]="account().status === accountStatus.INACTIVE"
    >
      {{ account().status }}
    </span>

    <div class="dropdown">
      <button
        class="btn-actions border-0 bg-transparent"
        type="button"
        data-bs-toggle="dropdown"
        [disabled]="isUpdating()"
      >
        @if (isUpdating()) {
          <div class="spinner-border spinner-border-sm text-primary"></div>
        } @else {
          <ng-icon name="bootstrapThreeDotsVertical"></ng-icon>
        }
      </button>

      <ul class="dropdown-menu dropdown-menu-end shadow">
        <li>
          @if (account().status === accountStatus.ACTIVE) {
            <button
              class="dropdown-item text-danger"
              (click)="toggleStatus(accountStatus.INACTIVE)"
            >
              <ng-icon name="bootstrapXCircle" class="me-2"></ng-icon>
              <p>Inactivar cuenta</p>
            </button>
          } @else {
            <button class="dropdown-item text-success" (click)="toggleStatus(accountStatus.ACTIVE)">
              <ng-icon name="bootstrapCheckCircle" class="me-2"></ng-icon>
              <p>Activar cuenta</p>
            </button>
          }
        </li>
      </ul>
    </div>
  </div>
</div>
